.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 12px 28px 0px 0px;
}

.nav-text {
    font-family: 'Google Sans', Roboto;
    color: hsl(0, 0%, 20%);
    font-size: 13px;
    margin: 8px;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

#grid {
    display: grid;
    grid-template-rows: 4px 4px 4px;
    grid-template-columns: 4px 4px 4px;
    gap: 2px;
}

#grid-link {
    margin-right: 20px;
    margin-left: 15px;
}

.grid-square {
    background-color: hsl(0, 0%, 40%);
}

#grid:hover .grid-square {
    background-color: hsl(0, 0%, 0%);
}

#user {
    border-radius: 50%;
}

#user:hover {
    text-decoration: none;
}

#google-logo {
    margin-top: 156px;
    margin-bottom: 25px;
}

#searchbar-container {
    display: flex;
    width: min-content;
    border: 1.5px solid hsl(0, 0%, 90%);
    border-radius: 999px;
    padding: 5px;
    align-items: center;
}

#searchbar-container:hover {
    box-shadow: 0px 0px 4px 0px hsl(0, 0%, 70%);
    border: 1.5px solid transparent;
}

#magnifying-glass {
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
}

#searchbar {
    background-color: transparent;
    border: none;
    width: 530px;
    font-size: 16px;
    margin: 7px 2px 7px 2px;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-button {
    border: 1px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 4px;
    color: hsl(0, 0%, 40%);
    font-family: arial, 'Google Sans', Roboto;
    font-size: 14px;
    margin: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.search-button:hover {
    border: 1px solid hsl(0, 0%, 70%);
    color: hsl(0, 0%, 20%);
}

#language {
    font-family: 'Google Sans', Roboto;
    font-size: 13px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: hsl(0, 0%, 95%);
}

#footer-top {
    border: 1px solid hsl(0, 0%, 90%) ;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    font-size: 15px;
    color: hsl(0, 0%, 50%);
}

#footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
}

#footer-left {
    display: flex;
    justify-content: flex-start;
}

#footer-right {
    display: flex;
    justify-content: flex-end;
}

.footer-text {
    font-family: 'Google Sans', Roboto;
    color: hsl(0, 0%, 40%);
    font-size: 14px;
    margin: 12px 14px 12px 14px;
}